body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
}

.link-dammy {
    width: 100%;
    height: 20px;
    margin: 0 0 0 220px;
}

header {
    width: 220px;
    height: 100vh;
    border-right: solid 1px lightgrey;
    padding: 20px;
    position: fixed;
    color: black;
    background-color: white;
    z-index: 9999;
}

header h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-bottom: 30px;
}

header ul a {
    text-decoration: none;
    color: black;
}

.home .title h1 {
    font-size: 5rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    top: 300px;
    left: 600px;
} 

.home .title div {
    font-size: 1.5rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    top: 450px;
    left: 700px;
}

.about {
    background: no-repeat url(/img/orchestra.jpg);
    background-size: cover;
    position: relative;
}

.about::before{
    /* 透過した黒を上から重ねるイメージ */
    background-color: rgba(0,0,0,0.4);
    /* 自由に位置指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }

.about .description {
    color:white;
    font-size: 1.4rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 500px;
}

.about .description span {
    font-size: 2rem;
}

.concert-info {
    width : 1000px;
    height: 750px;
    margin: 0 0 100px 320px;
    padding: 45px 0;
    text-align: center;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.concert-info .title {
    width: 400px;
    height: 300px;
    margin: 0 50px 50px;
    font-size: 3rem;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.concert-info .title p {
    margin-top: 75px;
}

.concert-info .grid {
    float: left;
}

.concert-info .concert {
    width: 400px;
    height: 300px;
    margin: 0 50px 50px;
    text-align: center;
    position: relative;
}

.concert-info .concert img {
    width: 400px;
    height: 300px;
    filter: brightness(60%);
}

.concert-info .concert:hover {
    filter: brightness(100%);
}

.concert-info .concert:hover img {
    filter: brightness(100%);
}

.concert-info .concert div {
    color:white;
    font-size: 2rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    z-index: 9999;
}

.concert-info .concert div:hover {
    filter: brightness(100%);
}

.youtube-info {
    width : 1000px;
    height: 750px;
    margin: 0 0 0 320px;
    padding: 70px 0;
    text-align: center;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.youtube-info .title {
    width: 300px;
    height: 200px;
    font-size: 3rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    position: relative;
}

.youtube-info .title p {
    position: absolute;
    top: 30px;
    left: 10px;
}

.youtube-info .grid {
    float: left;
    margin: 50px 16px;
}

#sidebar ul li {
    margin-bottom: 20px;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    display: block;
    margin: 0 auto;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}


@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}